html {
  scroll-behavior: smooth;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 100px;
}

.section {
  height: 100vh;
}

#home {
  background: #ffffff;
  background-image: url("img/meanwhile_logo.png");
  background-repeat: no-repeat;
  background-position: center center;
}

h1 {
  font-size: 48px;
  padding-top: 150px;
}

p {
  padding-left: 30px;
  font-size: 22px;
  color: black;
}

#about {
  background: #ffffff;
  align-items: center;
  padding-left: 100px;
}

#clients {
  background: #ffffff;
}

#work {
  background: #ffffff;
}

#contact {
  background: #ffffff;
}

.section {
  padding: 5px;
  border-bottom-color: lightgrey;
  border-bottom-style: solid;
  border-bottom-width: thin;
}

.client-list {
  display: flex;
  -ms-flex-flow: wrap;
  flex-flow: wrap;
}

.client-list li {
  -ms-flex-prefered-size: 25%;
  flex-basis: 25%;
  text-align: center;
  height: 180px;
  list-style: none;
}

.nav {
  --nav-gap: 15px;
  padding: var(--nav-gap);
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.nav-item {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: var(--nav-gap);
}

.nav-link:hover ~ .nav-label {
  opacity: 1;
}

.nav-label {
  color: #000000;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.1s;
}

.nav-link {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  height: var(--nav-gap);
  margin-left: var(--nav-gap);
  transition: transform 0.1s;
  width: var(--nav-gap);
}

.nav-link-selected {
  background: #000000;
  transform: scale(1.4);
}

.outer-footer {
  padding: 10px;
  text-align: left;
  color: gray;
  font-size: 15px;
  background-color: #ffffff ;
}
